.rectangle {
    height: 644px;
    width: 533px;
    border-radius: 12px;
    background-color: #01B9BD;
    align-content: center;
    margin: auto
}

.step-two {
    height: 67px;
    width: 424px;
    color: #FFFFFF;
    font-family: "Avenir Next";
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    align-content: auto;
    margin: 0 auto;
}

.profile-picture {
    height: 67px;
    width: 424px;
    color: #FFFFFF;
    font-family: "Avenir Next";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 49px;
    align-content: center;
    margin: auto;
}

.space {
    height: 100px
}

.skip-for-now {
    height: 27px;
    width: 114px;
    color: #FFFFFF;
    font-family: "Avenir Next";
    font-size: 20px;
    line-height: 27px;
    margin: auto;
}

.oval {
    height: 269px;
    width: 269px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.14);
    margin: auto;
    border-radius: 50%;
}

.oval-2 {
    height: 72px;
    width: 72px;
    background-color: #D8D8D8;
    border-radius: 50%;
    margin: 0 auto;
    top: 98.5px;
    position: relative;
}

.line {
    box-sizing: border-box;
    height: 3px;
    width: 24px;
    border: 3px solid #979797;
    top: 5.25px;
    position: relative
} /*Horizontal line*/

.line-copy {
    box-sizing: border-box;
    height: 3px;
    width: 24px;
    border: 3px solid #979797;
    transform: rotate(90deg);
    margin: auto;
} /*vertical line*/

.plus {
    height: 25px;
    width: 24px;
    margin: auto;
    top: 28px;
    position: relative
}