.inputimg{
  opacity: 0;
  position: 'absolute';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
};
.background{
	resize: horizontal;
 	overflow: hidden;
	display: flex;
}
.newChat {
	height: 5vh;
	width: 12vh;
	border-radius: 0.5vh;
	background-color: #0DABAF;
	box-shadow: 0 0.2vh 0.6vh 0 rgba(0,0,0,0.25);
	margin-left: 3vh;
	display: inline-block !important;
	text-align: center;
  font-size: 2vmin !important;
}

.newGroup {
	height: 5vh;
	width: 10vh;
	border-radius: 0.5vh;
	background-color: #0DABAF;
	box-shadow: 0 0.2vh 0.6vh 0 rgba(0,0,0,0.25);
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 2vh;
	display: inline-block !important;
	text-align: center;
}
.test {
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vh;
	margin-right: 1vh;
	text-align: center;
}
.btnLabel {
	height: 2.5vh;
	width: 12.6vh;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 1.8vh;
	font-weight: 500;
	line-height: 3em;
	text-align: center !important;
}

.newGroupLbl {
	height: 2.5vh;
	width: 12.6vh;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 1.8vh;
	font-weight: 500;
	line-height: 3em;
	text-align: center !important;
}

.nameLbl {
  height: 2.5vh;
	width: 12.6vh;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 1.8vh;
	font-weight: 500;
	line-height: 3em;
	text-align: center !important;

}

.miniImgPlaceholder {
	height: 6.7vh;
	width: 6.7vh;
	background-color: #FFFFFF;
	box-shadow: 0 0.2vh 1.2vh 0.3vh rgba(0,0,0,0.14);
	border-block-end-style: solid;
	border-radius: 50%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	padding: 0%;
}

.miniProImage {
	height: 5vh !important;
	width: 5vh !important;
	border-radius: 50%;
	padding: 0% !important;
}

.logoBorder {
	height: 5.4vh;
	width: 5.4vh;
	border: 0.6vh solid #FFFFFF;
	background-color: #E6E3E3;
	box-shadow: 0 0.2vh 1.2vh 0.3vh rgba(0,0,0,0.14);
	border-radius: 50%;
	display: inline-block !important;
	top: 1.8vh;
	right: 6.1vh;
	position: absolute;
}

.logoImg {
	height: 7vh;
	width: 7vh;
	background-color: #FFFFFF;
	box-shadow: 0 0.2vh 1.2vh 0.3vh rgba(0,0,0,0.14);
	border-radius: 50%;
}

.sideRight{
	margin-right: 0px;
}

.proImgPlaceholder{
	height: 26.9vh;
	width: 26.9vh;
	background-color: #FFFFFF;
	box-shadow: 0 0.2vh 1.2vh 0.3vh rgba(0,0,0,0.14);
	border-block-end-style: solid;
	border-radius: 50%;
	position: absolute;
	padding: 2vh;
	align-self: center;
    justify-self: center;
}

.proImg {
	height: 26.6vhvh !important;
	width: 26.6vh !important;
	border-radius: 50%;
	padding: 0% !important;
}

.navBar {

	background-color: #01B9BD !important;
	margin: auto;
	resize: horizontal;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.pencilmg {
	height: 3.6vh;
	width: 3.1vh;
}

.doneBtn {
	height: 5.4vh;
	width: 14.3vh;
	border-radius: 0.5vh;
	background-color: #FB6902;
    box-shadow: 0 0.2vh 0.6vh 0 rgba(0,0,0,0.25);
    display: inline-block !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin-left: center;
}

.doneLbl {
	height: 2.5vh;
	width: 12.6vh;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 1.8vh;
	font-weight: 500;
	line-height: 3em;
    text-align: center !important;
    justify-self: center;
}

.flex-container {
  background-color: #F4F7F8;
  resize: horizontal;
  overflow: hidden;
  display: flex;
  margin: 1em;
}

.item {
  margin: 1em;
  padding: 0.5em;
  width: 11vh;
  min-width: 0;
  background-color: #1B5385;
  color: white;
  font-family: monospace;
  font-size: 1.3vh;
}