.newChat {
	height: 5%;
	width: 10%;
	border-radius: 5px;
	background-color: #0DABAF;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
	margin-top: 1.5%;
	margin-left: 3%;
	display: inline-block !important;
	text-align: center;
}

.newGroup {
	height: 5%;
	width: 11%;
	border-radius: 5px;
	background-color: #0DABAF;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
	margin-top: 1.5%;
	margin-left: 2%;
	display: inline-block !important;
	text-align: center;
}

.newChatLbl {
	height: 25px;
	width: 126px;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: 500;
	line-height: 3em;
	text-align: center !important;
}

.newGroupLbl {
	height: 25px;
	width: 146px;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: 500;
	line-height: 3em;
	text-align: center !important;
}

.nameLbl {
	height: 30px;
	width: 201px;
	color: #f3f3f3;
	font-family: "Helvetica";
	font-size: 20px;
	line-height: 27px;
	text-align: center !important;
	display: inline-block !important;
	display: flex;
	margin-left: 72% !important;
	top: 6%;
	position: absolute !important;
}

.miniImgPlaceholder {
	height: 67px;
	width: 67px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
	border-radius: 50%;
	float: right;
	position: absolute;
	top: -55px ;
	right: 150px;


}

.miniProImage {
	height: 54px;
	width: 54px;
	border-radius: 50%;
	display: inline-block !important;
	right: 5px;
	position: relative;
	bottom: 5px;

}

.logoBorder {
	height: 54px;
	width: 54px;
	border: 6px solid #FFFFFF;
	background-color: #E6E3E3;
	box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
	border-radius: 50%;
	display: inline-block !important;
	top: 18px ;
	right: 61px;
	position: absolute;
}

.logoImg {
	height: 13%;
	width: 7%;
	border-radius: 50%;
	display: inline-block !important;
	top: 1% ;
	right: 3%;
	position: absolute;
}

.sideRight{
	margin-right: 0px;
}

.proImgPlaceholder{
	height: 269px;
	width: 269px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
	border-radius: 50%;
	margin-right: 105px;
	position: relative;
	display: inline-block !important;
	justify-content: center;
	align-items: center;
	margin: 1.5%;

}

.proImg {
	height: 236px;
	width: 236px;
	border-radius: 50%;
	justify-self: center;
	align-self: center;
	margin: 6%;

}


.navBar {
	height: 14vh;
	width: 100%;
	background-color: #01B9BD !important;
	margin: auto;
}

.pencilmg {
	height: 36px;
	width: 31px;
}

.doneBtn {
	height: 54px;
	width: 143px;
	border-radius: 5px;
	background-color: #FB6902;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
    display: inline-block !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin-left: center;
}

.doneLbl {
	height: 25px;
	width: 126px;
	color: #FFFFFF;
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: 500;
	line-height: 3em;
    text-align: center !important;
    justify-self: center;
}