.leftPanelContainer {
    position: fixed;
    height: 100vh;
    width: 411px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.14);
}

.searchContainer{
    padding-top: 26px;
    padding-bottom: 50px;
}

.bubbleContainerRight {
    float: right;
    text-align: right;
    border-radius: 35%;
    margin-bottom: 3vh;
}

.bubbleContainerLeft { 
    float: left;
    text-align: left;
    border-radius: 35%;
    margin-bottom: 3vh;
    max-width: 35vw;
}

.bubbleRight{
    padding-bottom: 3%;
    float: right;
}


.bubbleLeft{
    padding-bottom: 3%;
    float: left;
}

.mainBubbleContainer{
    float: right;
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 55%;
    display: inline-grid;
}

.addDoc {
    height: 72px;
    width: 72px;
    background-color: #D8D8D8;
    border-radius: 50%;
    top: 98.5px;
    float: left;
    margin-bottom: 2vh;
}
 
.line {
    box-sizing: border-box;
    height: 3px;
    width: 24px;
    border: 3px solid #979797 ;
    top: 5.25px;
    position: relative
} /*Horizontal line*/
 
.line-copy {
    box-sizing: border-box;
    height: 3px;
    width: 24px;
    border: 3px solid #979797 ;
    transform: rotate(90deg);
    margin: auto;
} /*vertical line*/
 
.plus {
    height: 25px;
    width: 24px;
    margin: auto;
    top: 28px;
    position: relative
}

.newTextContainer {
    background-color: #EFF2F3;
    float: left;
    height: 7.5vh;
    border-radius: 26px;
}

.newText {
    background-color: #EFF2F3;
    margin-right: 5vw;
    border-radius: 26px;
}