/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

.back {
    background-color: #004853;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backBox {
    height: 65.2vh;
    width: 53.9vh;
    border-radius: 1.2vh;
    background-color: #FDFDFD;
}

.bottomBox {
    height: 10.4vh;
    width: 53.9vh;
    border-radius: 0 0 1.2vh 1.2vh;
    background-color: #01B9BD;
    position: relative;
    top: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeToThe {
    height: 6.8vh;
    width: 53.9vh;
    color: #004853;
    font-family: Helvetica;
    font-size: 3vh;
    font-weight: 500;
    line-height: 4.1vh;
    text-align: center;
    position: relative;
    top: -4.3vh;
}

.logo {
    height: 6.3vh !important;
    width: 32.2vh !important;
    position: relative;
    top: -7.7vh;
    left: 10.8vh;
}

.loginEmail {
    font-size: 4vmin !important;
    line-height: 2.4vmin !important;
    width: 39.5vh !important;
    display: inline-block !important;
    position: relative !important;
    background-color: transparent !important;
    font-family: Helvetica !important;
    top: -6.9vh;
    left: 7.1vh;
}

.loginPass {
    font-size: 4vmin !important;
    line-height: 2.4vmin !important;
    width: 39.5vh !important;
    display: inline-block !important;
    position: relative !important;
    background-color: transparent !important;
    font-family: Helvetica !important;
    top: -7.5vh;
    left: 7.1vh;
}

.loginBtn {
    top: -4.8vh;
    left: 17vh;
    font-family: Helvetica !important;
    font-size: 2.2vh !important;
    font-weight: 500 !important;
    height: 5.7vh !important;
    width: 19.7vh !important;
    line-height: 3vh !important;
    min-width: 19.7vh !important;
    color: #FFFFFF !important;
    border-radius: 0.5vh !important;
    background-color: #FB6902 !important;
    text-align: center !important;
    position: relative !important;
}

.noAccountYetGet {
	height: 10.4vh !important;
	width: 53.9vh !important;
	color: #FFFFFF !important;
	font-family: Helvetica !important;
	font-size: 2vmin !important;
	line-height: 2.7vh !important;
    text-align: center !important;
    position: relative !important;
    border-radius: 0 0 1.2vh 1.2vh !important;
}