.pageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #004853;   
    display: flex;
    align-items: center;
    justify-content: center;    
}

.body style {
    display: block;
    background: #FFFFFF;
    color: white;
    font: 13px/1.8 Monaco, Mono-Space;
    padding: 20px;
    white-space: pre;
}

.regRectangle {
    height: 79vh;
    width: 58vh;
    border-radius: 1.5vh;
    position: relative;
    background-color: #01B9BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regRectangleBtm {
    height: 103px;
    width: 533px;
    border-radius: 0 0 12px 12px;
    background-color: #01B9BD;
    position: relative;
    top: 415px;
    left: 0px;
}

.formField {
    top: 0;
    left: 0;
    position: relative;
}
.nextBox {
    height: 12vh;
    width: 120vh;
    align-content: center;
    margin: auto;
    padding-left: 20vh;
    color: #F3F3F3 !important;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 2vh !important;
    line-height: 10vh !important;
    width: 40vh !important;
    height: 11vh !important;
    display: inline-block !important;
    position: relative !important;
    background-color: transparent !important;
    font-family: Helvetica !important;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.line {
    box-sizing: border-box;
    height: 3px;
    width: 390px;
    border: 1px solid #FFFFFF;
}

.stepHeading {
    height: 2vh;
    width: 25vh;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 4vh;
    font-weight: 500;
    line-height: 7vh;
    text-align: center;
    position: relative;
}

.titleHeading {
    height: 8vh;
    width: 50vh;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 5vh;
    font-weight: 500;
    font-size-adjust: initial;
    letter-spacing: 0.3vw;
    text-align: center;
    position: relative;
}


.nextButton {
    font-family: Helvetica !important;
    font-size: 2vmin !important;
    font-weight: 500 !important;
    height: 7vh !important;
    width: 18vh !important;
    line-height: 6vh !important;
    min-width: 6vmin !important;
    color: #FFFFFF !important;
    border-radius: 5px !important;
    background-color: #0DABAF !important;
    text-align: center !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    position: relative !important;
    justify-self: center !important;   
}

.nextStepBtn {
    height: 57px;
    width: 197px;
    border-radius: 5px;
    font-family: "Helvetica";
    background-color: #0DABAF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: auto;
}

.nextStepLbl {
    height: 30px;
    width: 173px;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: auto;
    padding: 15px;
}

.stepTwoHeading {
    height: 67px;
    width: 424px;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
    margin: auto;
}

.proPicJpg {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    margin: auto;
    padding: 13px;
}

.skip {
    top:160px;
    position: relative;
}
.skip2 {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.skipForNow {
    height: 1vh;
    width: 20vh;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 3vh;
    line-height: 0.1vh;
    text-align: center;
    justify-self: center;
}

.proPicPlaceholder {
    height: 30vh;
    width: 30vh;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.14);
    margin: 0 auto;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.uploadCircle {
    height: 9vh;
    width: 9vh;
    background-color: #D8D8D8;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plusHorizontal {
    box-sizing: border-box;
    height: 0.8vh;
    width: 3.5vh;
    top: 0.8vh;
    border: 3px solid #979797;
    position: relative;
    align-self: center;
}

.plusVertical {
    box-sizing: border-box;
    height: 0.8vh;
    width: 3.5vh;
    border: 3px solid #979797;
    transform: rotate(90deg);
    position: relative;
    align-self: center;
}

.plusLogo {
    height: 3.5vh;
    width: 3.5vh;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
